header{
    position:fixed;
    width:100%;
    z-index: 10;
}
header .headTop{
    display: flex;
    justify-content: space-between;
    padding-top:20px;
}
h1>a{
    color:white;
    font-size: 28px;
}
.Gnb{
    display: flex;
}
.Gnb>li{
    padding:0 15px;
    padding-top:15px;
}
.Gnb a{
    color:white;
    font-size: 13px;
}
.xBtn{
    display: none;
}
.headBottom{
    display: flex;
    padding-top:30px;
    position: relative;
}
.headBottom img{
    width:30px;
}
.navRe{
    display: none;
    transition: 0.5s;
}
.navRe.active{
    display: block;
}
#navTotal{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    top:70px;
    left:0;
    width:100%;
    padding:20px 0;
}
#navTotal>li{
    padding: 6px 25px;
    
}
#navTotal .subtot{
    padding:20px 0;
    width:100px;
    /* background-color: #ccc; */
    /* position:absolute; */
}
#navTotal>li>a{
    color:white;
    font-size: 17px;
}
#navTotal .subtot a{
    color:#ccc;
    font-size: 13px;
}
#nav{
    display: flex;
    /* display: none; */
}
#nav>li{
    padding: 6px 25px;
    position:relative;
}
#nav>li>a{
    color:white;
    font-size: 17px;
    font-weight: 400;
}
#nav .sub{
    padding:15px 15px;
    width:100px;
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    top:30px;
    display: none;
}
#nav .sub>li{
    line-height: 1.4;
}
#nav .sub a{
    color:#ccc;
    font-size: 13px;
}
#nav>li:hover .sub{
    display: block;
}

/* ----------------playMovie----------------- */

video{
    width:100%;
    position: relative;
    z-index: -10;
}

/* ----------------mainWrap------------------- */

.mainWrap{
    padding-top:190px;
}
.mainWrap>.innerBox{
    display: flex;
}
.overFlow{
    width:65%;
    overflow: hidden;
}
/* .lookbookWrap{
    display: flex;
    width:200%;
    gap:10px;
} */
.lookbookWrap>li{
    width:48%;
    position:relative;
}
.lookbookWrap img{
    width:100%;
}
.lookbookWrap a{
    position:relative;
}
.box{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

.textBox{
    padding-top:80px;
}
.title{
    display: flex;
}
.line{
    border-top:1px solid black;
    width:50px;
    text-indent: -99999px;
    margin:10px 20px 0 20px;
}
.text{
    padding:20px 0 40px 90px;
    line-height: 1.4;
}
.shop{
    padding-left:90px;
    font-style: italic;
}


/* ----------------bestItem----------------- */

.bestItem{
    padding-top:190px;
}
/* .overFlow2{
    width:100%;
    overflow: hidden;
    padding-top: 40px;
} */
/* .items{
    width:200%;
    display: flex;
}
.items>li{
    width:25%;
    border:1px solid #ccc;
    overflow: hidden;
}
.items img{
    width:100%;
} */
.overFlow2{
    padding-top: 40px;
}
.items img:hover{
    transform: scale(1.2);
}


/* ------------------banner------------------- */

.banner{
    padding-top: 190px;
}
.banner img{
    width:100%;
}


/*-------------------brandWrap------------------*/

.brandWrap{
    padding-top: 190px;
}
.brands{
    display: flex;
    padding-top:40px;
    justify-content: space-between;
}
.brands a{
    line-height: 1.5;
}
.brands h4{
    padding:10px 5px;
}
.brands p{
    padding:0 5px;
    font-size: 16px;
}
.brands img{
    width:100%;
}
.brands>li{
    position:relative;
}
.box>.line{
    border-color: white;
}
.box>p{
    color:white;  
    padding-left: 17px;
    font-size:15px;
    font-weight: 600;
}
.darkBg{
    position:absolute;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    display: none;
}
.brands>li:hover .darkBg{
    display: block;
}
/* ------------------TimeSale-------------------- */

.TimeSale{
    margin-top:190px;
}
.TimeSale>.innerBox{
    background-image: url(../images/timesale.jpg);
    width:100%;
    height:500px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.TimeSale .title{
    padding:20px 0;
    /* font-size: 35px; */
    /* font-weight: bold; */
}


/* --------------------footer-------------------- */
footer{
    padding:190px 0 100px 0;
}
footer .innerBox{
    display: flex;
    padding-left: 50px;
    border-top: 1px solid #ccc;
}
footer .innerBox>div{
    margin-right:60px;
    line-height: 1.6;
}
footer h2{
    padding: 20px 0 25px 0;
}
footer h5{
    padding:30px 0;
}
footer p{
    font-size: 16px;
}


/* -------------------반응형------------------- */

@media screen and (max-width:1600px){
}

@media screen and (max-width:1280px){
    .flip-clock-wrapper {
        padding-left: 430px;
    }
    footer p{
        font-size: 14px;
    }
    .cs{
        display: none;
    }
}

@media screen and (max-width:1080px){
    .flip-clock-wrapper {
        padding-left: 240px;
    }
    footer .innerBox {
        flex-wrap: wrap;
        justify-content: center;
    }
    footer .innerBox>.pauls {
        margin-right: 130px;
    }

}

@media screen and (max-width:880px){
    header {
        position: absolute;
    }
    .flip-clock-wrapper {
        padding-left: 100px;
    }
    .mainWrap>.innerBox {
        display: block;
    }
    .overFlow {
        width: 100%;
    }
    header .headTop,
    .headBottom {
        padding-top: 10px;
    }
    #nav {
        flex:none;
        background: rgb(183 182 176 / 92%);
        width: 100%;
        height: 100vh;
        position: absolute;
        padding-top: 50px;
        z-index: 10;
        left: -100%;
        transition:0.5s;
        display: block;
    }
    #nav.active{
        left:0;
    }
    #navTotal{
        display: none;
    }
    #nav>li {
        padding: 30px 60px;
    }
    /* #nav>li>.active{
        color:#696969;
    } */
    #nav>li:hover .sub{
        display: none;
    }
    #nav .sub {
        left:180px;
        width:60%;
        text-align: center;
        display: none;
    }
    .xBtn{
        display: block;
        position:relative;
        top: -80px;
        left: -60px;
    }
    #nav>li>a.active{
        color:#696969;
    }
    .brands p{
        font-size: 14px;
    }
}

@media screen and (max-width:767px){
    .rightGnb{
        display: none;
    }
    #nav .sub {
        width:40%;
    }
    .brands {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .brands img {
        width: 80%;
    }
    .darkBg {
        width:80%;
        left: 50%;
        transform: translateX(-50%);
    }
    .flip-clock-wrapper {
        padding-left: 130px;
    }
    .flip-clock-wrapper ul{
        width:40px;
        height:80px;
    }
    .flip-clock-divider .flip-clock-label {
        right:-65px;
    }
    .flip-clock-divider.minutes .flip-clock-label {
        right: -72px;
    }
    .flip-clock-divider.seconds .flip-clock-label {
        right: -70px;
    }
    .flip-clock-wrapper ul li a div div.inn {
        font-size:50px;
    }
}

@media screen and (max-width:610px){
    .flip-clock-wrapper {
        padding-left: 30px;
    }
}

@media screen and (max-width:560px){
    body{
        font-size: 15px;
    }
    h3{
        font-size: 18px;
    }
    .mainWrap,
    .bestItem,
    .banner,
    .brandWrap{
        padding-top: 130px;
    }
    .TimeSale {
        margin-top: 130px;
    }
    footer {
        padding: 130px 0 60px 0;
    }
    .flip-clock-wrapper ul{
        width:25px;
        height:60px;
    }
    .flip-clock-divider{
        width:15px;
        height:90px;
    }
    .flip-clock-wrapper ul li a div div.inn {
        font-size: 40px;
        line-height: 60px;
    }
    .TimeSale>.innerBox {
        height:300px;
    }
    .company{
        display: none;
    }
    .fol{
        display: flex;
    }
    .fol>p{
        padding:0 3px;
    }
    footer .innerBox {
        justify-content: space-between;
        padding-left: 20px;
    }
    .brands>li {
        padding: 10px 0;
    }
}

@media screen and (max-width:400px){
    .flip-clock-wrapper {
        padding-left: 10px;
    }
    #nav .sub {
        width:30%;
    }
    

}