header{
    background-color: lightgray;
}
.innerBox2{
    width:60%;
    position:absolute;
    right:15%;
    top:200px;
}
.leftMenu{
    position:fixed;
    top:50%;
    transform:translateY(-50%);
    z-index: 1;
}
.subMenu>li:hover a{
    color:lightgray;
}
form{
    padding-bottom: 20px;
}
input{
    border: 0;
    border-bottom: 1px solid darkgray;
    outline: none;
}
.navMenu>li{
    padding:10px 0;
}
.navMenu>li>a{
    display: block;
    padding-bottom: 15px;
}
.subMenu>li{
    line-height: 1.2;
    font-size: 16px;
}
.wrap{
    width: 100%;
    position: relative;
    height: 1600px;
}
.contentWrap{
    position:relative;
    margin:0 auto;
}
.contentWrap>h2{
    padding:50px 0;
}
.bags{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}
.bags>li{
    width:29%;
    margin: 0 auto;
}
.bags img{
    width:100%;
    outline: 1px solid lightgray;
}
.textWrap{
    padding:10px 0;
}
.textWrap p{
    padding:3px 0;
    color:#555;
}
.pagerNum{
    display: flex;
    justify-content: center;
}
.pagerNum>li{
    padding:100px 20px;
}
@media screen and (max-width:1200px){
    .wrap{
        height:1200px;
    }
    body{
        font-size: 16px;
    }
}
@media screen and (max-width:800px){
    body{
        font-size: 14px;
    }
    .leftMenu{
        position: absolute;
        top: 15%;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
        justify-content: center;
    }
    .navMenu{
        display: flex;
        gap: 60px;  
    }
    .innerBox2 {
        width: 90%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    form{
        display: none;
    }
    .subMenu{
        display: none;
    }
    .subMenu>li{
        padding:0 10px;
    }
    .navMenu>li>a:hover{
        color:lightgray;
    }
    .bags>li:nth-child(7),
    .bags>li:nth-child(8),
    .bags>li:nth-child(9){
        display: none;
    }
    .wrap{
        height:1000px;
    }
}
@media screen and (max-width:560px){
    .bags>li {
        width: 45%;
    }
    .wrap{
        height:1200px;
    }
    .contentWrap>h2 {
        padding:0;
        padding-bottom:30px;
    }

}
@media screen and (max-width:400px){
    .wrap{
        height:1100px;
    }
}

