header{
    background-color: lightgray;
}
.innerBox2{
    width:60%;
    position:absolute;
    right:10%;
    top:200px;
}
.leftMenu{
    position:fixed;
    top:50%;
    transform:translateY(-50%);
    z-index: 1;
}
.subMenu>li:hover a{
    color:lightgray;
}
form{
    padding-bottom: 20px;
}
input{
    border: 0;
    border-bottom: 1px solid darkgray;
    outline: none;
}
.navMenu>li{
    padding:10px 0;
}
.navMenu>li>a{
    display: block;
    padding-bottom: 15px;
}
.subMenu>li{
    line-height: 1.2;
    font-size: 16px;
}
.wrap{
    width: 100%;
    position: relative;
    height: 2200px;
}
.contentWrap{
    position:relative;
    margin:0 auto;
}
.contentWrap>h2{
    padding:50px 0;
}
.bags{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}
.bags>li{
    width:29%;
    margin: 0 auto;
}
.bags img{
    width:100%;
    outline: 1px solid lightgray;
}
.textWrap{
    padding:10px 0;
}
.textWrap p{
    padding:3px 0;
    color:#555;
}
.pagerNum{
    display: flex;
    justify-content: center;
}
.pagerNum>li{
    padding:100px 20px;
}